.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

# umvietnam app
/bin/
/data/
/sessions/
/src/
dblog.php
dot.htaccess
/public/assets/bootstrap/
/public/assets/file/
/public/assets/font/
/public/assets/img/
/public/assets/lib/
/public/captcha/
/public/node_modules/
/public/google3a31dfd571a150e9.html
LICENSE.md
*.png
*.jpg
*.gif
*.min.js
*.min.css
/home_app/cache/
/home_app/config/config.php
/home_app/config/constants.php
/home_app/config/database.php
/home_app/logs/
