@charset "utf-8";
body{font-size:14px}
#wrapper{min-height:100%; position:relative; background:#f1f1f1;}
#header{position:relative; z-index:10}
#header .logo-admin{text-align:center; margin:0 0 36px 0}
#header .logo-admin img{vertical-align:top}
#header .utility-nav{margin:0 0 20px 0; overflow:hidden}
#header .utility-nav>li{float:left; width:50%; text-align:center}
#header .utility-nav a{color:#fff}
#header .global-nav-sec{float:left; width:210px; padding:22px 0; position:relative; z-index:3; background:#252d3b}
#header .global-nav{padding:0; margin:0}
#header .global-nav>li{}
#header .global-nav>li a{display:block; color:#fff; padding:7px 2px; text-decoration:none; font-size:}
#header .global-nav>li a:hover{background:#191e23; color:#00b9eb}
#header .global-nav>li.active>a{background:#0073aa url(/assets/img/adm/ico_nowpage.gif) no-repeat right center; color:#fff}
#header .global-nav>li>a{padding-left:10px}
#header .global-nav .sub-nav{display:none}
#header .global-nav .sub-nav-show{display:block}
#header .global-nav .sub-nav li a{font-size:12px}
#header .global-nav>li.active .sub-nav{display:block}
#header .global-nav>li.active .sub-nav a{padding-left:20px}
#header .global-nav>li.active .sub-nav a.active{background:#191e23}
#header .global-nav .sub-nav-show a{padding-left:20px; font-size:12px}
#header .global-nav-bg{width:210px; height:100%; position:fixed; left:0; top:0; z-index:1; background:#252d3b}

#footer{position:absolute; width:200px; left:5px; bottom:5px; z-index:10}
#footer .ci-ver{color:#eee; font-size:12px; line-height:14px}
#contents{margin:10px 0 10px 230px; box-shadow: 1px 2px 4px #eee}

#view_header{position:fixed; left:210px; top:0; display:none}
/*
.fullsize #header .global-nav-bg{left:-210px; transition:left .3s}
.fullsize #header .global-nav-sec{margin-left:-210px; transition:margin-left .3s}
.fullsize #contents{margin:10px 0 10px 30px; transition:margin-left .3s}
.fullsize #view_header{position:fixed; left:0; top:0}
*/
.page-tit{margin:0 0 20px 0; font-size:1.8em}
.page-title-sec{min-height:60px; margin:0 0 10px 0; padding:10px 2.2%; background:#fff; font-size:1.5em}
.page-title-sec .page-title{padding:15px 0 0 0}
.page-title-sec .page-text{margin:0 0 15px 0; padding:10px 0 0 0; font-size:14px}
.page-tit2{margin:0 0 10px 0; font-weight:bold}
.sub-title{border-bottom:1px solid #ccc; padding:0 0 6px 0; font-size:1.125em}
.admin-page-sec{background:#fff; padding:20px 20px; margin:0 0 10px 0; overflow:hidden}
.admin-page-sec2{background:#fff; padding:30px 20px; margin:0; overflow:hidden}
.admin-page-sec3{background:#fff; padding:10px; margin:0; overflow:hidden; border:1px solid #999}
.member-list{padding:0; margin:0; list-style:none}
.member-list>li{border-bottom:1px solid #dfdfdf; }
.member-list a{display:block}
.member-list .user-sec{padding:6px; overflow:hidden; color:#000; text-decoration:none}
.member-list .user-sec:hover{background:#f8f8f8}
.member-list .user-name{}
.member-list .user-info{float:left}
.member-list .line{padding:0 10px}
.member-select{overflow:hidden; margin:0 0 30px 0}
.member-select>li{float:left; margin:0 6px 0 0}
.member-select>li a{display:block; border:1px solid #ccc; padding:8px 15px}
.member-select>li a.active{background:#323232; color:#fff; border:1px solid #323232}

#nav_list{font-weight:bold}
#nav_list li{width:600px; list-style:none; margin:0 0 8px 0; position:relative}
#nav_list .menu-box{border:1px solid #ccc; padding:10px 15px; background:#f8f8f8; box-shadow:1px 2px 4px #f8f8f8; cursor:pointer; -webkit-transition: background-color 1s ease-in-out; transition: background-color .3s ease-in-out; }
#nav_list .menu-box.input-open,
#nav_list .menu-box:hover{background-color:#eee}
#nav_list .input-box{height:auto; overflow:hidden; border:1px solid #ccc; border-top:none; padding:10px 15px; box-shadow:1px 2px 4px #f8f8f8}
#nav_list .input-box input{width:400px}
#nav_list .input-box input[type="checkbox"]{width:15px; height:15px}
#nav_list .input-box.close-box{border:none; padding:0 15px; height:0px; overflow:hidden}
#nav_list .index_up_btn{width:34px; height:22px; position:absolute; right:33px; top:0; overflow:hidden; padding:0; margin:0; font-size:12px}
#nav_list .index_down_btn{width:34px; height:22px; position:absolute; right:33px; top:20px; overflow:hidden; padding:0; margin:0; font-size:12px}
#nav_list .nav-delete-btn{width:34px; height:42px; position:absolute; right:0; top:0; padding:0; margin:0; font-size:12px}
.subnav{padding:8px 0 0 0; margin-left:40px}

#wrapper .admin-btn-sec{padding:10px 0 20px 0}
#wrapper .admin-btn-sec2{padding:20px 0}
#wrapper .admin-btn-sec3{padding:20px 0 0 0}
#wrapper .admin-btn-sec4{text-align:center}
#wrapper .admin-btn-sec-right{text-align:right; padding:15px 0 30px 0}
#wrapper .admin-btn{border:1px solid #ccc; padding:7px 10px; font-size:0.857em; vertical-align: middle; border-radius:3px; box-shadow:1px 1px 4px #eee; background:#fff}
#wrapper .admin-btn-atag{display:inline-block; height:30px; line-height:32px; vertical-align: middle; border:1px solid #ccc; padding:0 10px 0 10px; color:#393939; font-size:0.857em; border-radius:3px; box-shadow:1px 1px 4px #eee; text-decoration:none}
#wrapper .admin-btn:hover,
#wrapper .admin-btn-atag:hover{box-shadow:none; background:#f9f9f9}
#wrapper .admin-table{width:100%; box-shadow:1px 1px 4px #eee}
#wrapper .admin-table tr.selecttr{border:3px solid #fffccc}
.admin-table tr.even td{background:#f9f9f9}
.admin-table tr.odd td{background:#fff}
.admin-table th,
.admin-table td{border:1px solid #dfdfdf}
.admin-table th{padding:10px; background:#edf2f4; border-color:#d1dee2; font-size:0.929em}
.admin-table th.full-title{font-weight:bold}
.admin-table td{padding:10px 15px; text-align:center; font-size:0.857em}
.admin-table input,
.admin-table select,
.admin-table textarea{font-size:1em; border:1px solid #dfdfdf; padding:2px 0}
.admin-table td.align-left{text-align:left; padding:10px 15px}
.table-btn{display:inline-block; padding:2px 8px; background:#444; color:#fff; text-decoration:none; border-radius:3px}
.table-btn:hover{background:#393939}
.agree-textbox{border:1px solid #ccc; padding:10px}
.agree-textbox textarea{width:100%; height:400px; padding:0; margin:0; vertical-align:middle; border:0 none; resize:none; outline:none; line-height:1.6em}
.admin-table td input{}
.admin-table td .input-full{width:100%}
.admin-table td.college-sec{padding:0; text-align:left; vertical-align:top}
.admin-table td.college-sec li{border-bottom:1px dotted #e5ecef; padding:3px 0}
.admin-table td.college-sec li:nth-child(1){background:#f1f1f1}
.admin-table td.college-sec li:nth-child(4){border:none}
.admin-table td.college-sec label{display:inline-block; width:100px; text-indent:10px}
.admin-table td.college-sec input{width:calc(100% - 120px); padding:0 5px; border:1px solid #dfdfdf}
.admin-table.admin-frm .selecttr{border:3px solid orange}
.admin-table.admin-frm select{cursor:pointer}
.admin-table.admin-frm input[type="text"]{box-sizing:border-box; height:26px; line-height:26px; border:1px solid #dfdfdf}
.admin-table.admin-frm label{cursor:pointer}
.admin-table.admin-frm input[type="checkbox"]{width:16px; height:16px; cursor:pointer}
.admin-table.admin-frm .nameinput{width:100%; padding:0 5px}
.admin-table.admin-frm .input-sec{overflow:hidden; position:relative; margin:0 0 4px 0}
.admin-table.admin-frm .input-sec strong{position:absolute; width:60px; left:0; top:3px}
.admin-table.admin-frm .input-sec div{margin:0 0 0 60px}
.admin-table.admin-frm input[type="file"]{width:190px}
.admin-table.admin-frm .hide-field{display:none}
.admin-table.admin-frm input[type="text"]{}

.marginB30{margin:0 0 30px 0}
.page-sub-title{font-size:1.125em; margin:0 0 15px 0}
.main-time-sec{display:block; letter-spacing:-1px; margin:0 0 10px 0}
.main-presentation{overflow:hidden}
.main-presentation .presentation-list{float:left; width:44%}
.main-presentation .presentation-today{float:right; width:55%}
.main-presentation .presentation-today ul{overflow:hidden}
.main-presentation .presentation-today li{width:49.998%; float:left; font-size:0.86em}
.main-presentation .inner-box{padding:10px; border:1px solid #ccc}
.main-boxlist{overflow:hidden; border:1px solid #ccc; padding:5px}
.main-boxlist li{display:inline-block; padding:4px}
.main-boxlist .inner-box{display:block; border:1px solid #ccc; padding:5px 10px 4px 10px; border-radius:3px; box-shadow:0 1px 3px #eee; text-decoration:none; -webkit-transition:all .2s; -ms-transition:all .2s; transition:all .2s}
.main-boxlist .inner-box:hover{box-shadow:0 0 1px #ddd; background:#f8f8f8}
.main-boxlist .inner-box .time{display:block; font-size:0.86em}
.admin-search-sec{padding:0 0 6px 0; border-bottom:1px solid #ccc; margin:0 0 20px 0}
.subtxt{font-size:0.86em}
.admin-popup-wrap{overflow:hidden}
.admin-popup-wrap .popup-img-sec{float:left; width:30%; text-align:center}
.admin-popup-wrap .popup-img-sec img{max-width:340px; width:100%}
.admin-popup-wrap .popup-register-sec{float:right; width:67%}
.admin-popup-wrap input[type='text']{width:98%}
.admin-popup-wrap input.size_small[type='text']{width:200px}
.admin-popup-wrap textarea{width:98%; height:100px; resize:none}
.sample-filedown{display:inline-block; margin:0 0 20px 0; border:1px solid #999; padding:10px 20px; font-size:12px}

.block-list{border:1px solid #ccc; padding:10px}
.block-list li{display:inline-block; border:1px solid #ccc; box-shadow:0px 1px 3px #eee}
.block-list .list-box{display:block; padding:7px 10px 6px 10px;}

.major-typename-list{overflow:hidden}
.major-typename-list li{float:left; width:160px; padding: 3px 6px}
.major-typename-list li input[type='text']{width:96%; padding:2px 2%}
.warning-msg{font-size:0.86em; margin:0 0 10px 0; color:#e10000; font-weight:bold}
select,
input[type="text"]{border:1px solid #ddd; padding:3px 0}
input[type="submit"]{border:1px solid #a6a6a6; padding:3px 10px;
background: #f6f6f6; /* Old browsers */
background: -moz-linear-gradient(top,  #f6f6f6 0%, #dedede 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f6f6f6 0%,#dedede 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f6f6f6 0%,#dedede 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */}
input.num-inputS{width:80px; text-align:center}
input.full-input{width:100%}
textarea.full-textarea{width:100%; height:200px}
.small-txt{font-size:12px}

.BD-write-skinA .table-text{border:1px solid #b6b6b6; height:550px; padding:5px; margin:0; background:#fff; overflow:hidden }
.BD-write-skinA .table-text textarea{width:100%; min-height:100%; border:none; padding:0; margin:0; resize:none}
/* 블로그 글쓰기 */
.naverblog-tit{background:#fff url(/assets/img/adm/top_bg_naverblog.jpg) no-repeat top right}
.naverblog-tit .page-title{padding:15px 0 15px 60px; background: url(/assets/img/adm/ico_naverblog.jpg) no-repeat 0 50%}
.blog-write-sec{margin:0 0 15px 0}
.blog-write-sec .subject-sec{overflow:hidden; margin:0 0 10px 0}
.blog-write-sec .subject-sec .category{float:left; width:180px}
.blog-write-sec .subject-sec .subject{margin:0 0 0 190px}
.blog-write-sec .subject-sec select,
.blog-write-sec .subject-sec input{width:100%; height:36px; line-height:36px; padding:0; margin:0; border:1px solid #999; box-sizing:border-box; font-size:1em}
.blog-write-sec .subject-sec input{padding:0 10px}
input.blog-submit{width:70px; height:30px; border:0 none; padding:0; margin:0; overflow:hidden; background:url(/assets/img/adm/btn_naverblog.jpg) no-repeat 0 0; line-height:10em}
.blog-option-sec{border-top:1px solid #999; border-bottom:1px solid #999; padding:12px 0; margin:0 0 15px 0}
.blog-option-sec dt{margin:0 0 12px 0}
.blog-option-sec p{margin:0 0 10px 0}
.blog-option-sec p.last{margin:0}

.briefing-list{}
.briefing-list li{padding:10px; border:1px solid #dfdfdf; margin:0 0 10px 0; box-shadow:1px 1px 4px #eee}
.briefing-list li dl{overflow:hidden}
.briefing-list li dt{clear:left; float:left; width:110px; text-indent:10px; margin:0 0 4px 0}
.briefing-list li dd{margin:0 0 4px 114px}
.briefing-list .input-num{width:50px; text-align:center}
.briefing-list .input-place{width:300px}
.briefing-list .input-place2{width:200px}

.presentation-search-sec{padding:0 0 10px 0; position:relative}
.presentation-search-sec form{padding:10px 0 0 0}
.presentation-search-sec .modify-btn-sec{position:absolute; right:0; top:0}
.presentation-register-sec{height:0px; overflow:hidden}
.presentation-register-sec.open{height:auto}
.presentation-list-tit{font-size:1.125em; font-weight:bold; letter-spacing:-1px; margin:0 0 15px 0}

.slide-imglist{overflow:hidden; border-top:1px dotted #999}
.slide-imglist>li{border-bottom:1px dotted #999; padding:10px; position:relative; overflow:hidden}
.slide-imglist .del-cloneimgfile{position:absolute; right:10px; top:10px}

.home_register_list{border-top:2px solid #0a4a86}
.home_register_list .home_register_elem{position:relative; border-bottom:1px solid #dfdfdf; cursor:pointer}
.home_register_list .elem_header{padding:15px}
.home_register_list .home_register_elem:hover .elem_header{text-decoration:underline}
.home_register_list .home_register_elem.active .elem_header{font-weight:bold; text-decoration:underline; border-bottom:1px solid #dfdfdf}
.home_register_list .elem_contents{padding:20px; display:none}
.home_register_list .home_register_elem.active .elem_contents{display:block}
.home_register_list .elem_footer{position:absolute; right:15px; top:15px}
.home_register_list .score-list li{margin:0 0 4px 0}
.form-sec{}
.form-sec .form-row{margin:0 0 10px 0; overflow:hidden}
.form-sec .form-label{float:left; width:120px;}
.form-sec .form-content{margin:0 0 0 122px}
.form-sec .form-content input[type="text"]{width:98%; max-width:800px; padding:4px; border:1px solid #ccc}
.form-sec .form-content input[type="text"].size-middle{max-width:400px}
.form-sec .form-content textarea{width:98%; height:200px; border:1px solid #ccc; resize:vertical}
.menu-insert-box{position:relative; margin:0 0 25px 0}
.menu-insert-box .menu-insert-box-open{position:absolute; right:10px; top:2px}
.menu-insert-box .insert-content{height:0px; overflow:hidden; transition:height .35s ease-in-out}
.menu-insert-box .insert-content .inner-box{padding:20px; background:#f4f4f4; border-bottom:1px solid #ccc}
/* 팝업 */
.popevent_list{}
.popevent_list>li{position:relative; margin:0 0 10px 0; padding:30px 10px 10px 10px; border:1px solid #ccc; }
.popevent_list>li .updown-box{position:absolute; right:10px; top:5px}
/* 강사 */
.univ-list{overflow:hidden; padding:20px}
.univ-list>li{background:#fff; margin:0 0 10px 0}
.univ-list>li a{display:block; padding:20px}
/* 문의게시판 */
.bbs-file-list{margin:0 0 20px 0; padding:20px 10px; border-bottom:1px solid #ccc}
.bbs-file-list>li{margin:0 0 10px 0}
.bbs-file-list>li:nth-last-child(1){margin:0}

.calendar-sec{position:relative}
.calendar-sec .tit{text-align:center; margin:0 0 15px 0; font-size:18px; font-weight:bold}
.calendar-sec .calendar-btn{padding:6px 20px; border:1px solid #999; diaplay:inline-block; position:absolute; font-size:12px}
.calendar-sec .prev-month{top:0; left:0;}
.calendar-sec .next-month{top:0; right:0;}
.calendar-tb{width:100%; position:relative; opacity:1; border-top:3px solid #263c53; box-shadow:0 2px 6px #ccc}
.calendar-tb th,
.calendar-tb td{border:1px solid #999; text-align:center; padding:8px}
.calendar-tb th{background:#e5ecf0}
.calendar-tb td{vertical-align:top; padding:0}
.calendar-tb td .inner-box{min-height:116px; position:relative; text-align:left; font-size:12px; padding:6px 0 6px 28px}
.calendar-tb td .empty-box{background:#fdfdfd}
.calendar-tb .calendar-day-num{display:block; position:absolute; left:-1px; top:-1px; width:20px; height:20px; border:1px solid #999; text-align:center; line-height:20px; background:#fff}
.calendar-tb .today{background:#eaf2fb; transition:all .4s;}
.calendar-tb .sunday{color:#df0000}
.calendar-tb .saturday{color:#2da9ff}
.calendar-tb .today-allist li{margin:0 0 4px 0; padding:0 0 2px 0; line-height:14px; border-bottom:1px dotted #ccc}
.calendar-tb .today-allist .approval{color:#000; background:url(/assets/img/ico_done.png) no-repeat 98% 30%}
.calendar-tb .today-allist .approval-wait{color:#aaa; background:url(/assets/img/ico_wait.png) no-repeat 98% 30%}
.calendar-tb.prev{-webkit-animation:prevCalendarAni .3s ease-out; animation:prevCalendarAni .3s ease-out}
.calendar-tb.next{-webkit-animation:nextCalendarAni .3s ease-out; animation:nextCalendarAni .3s ease-out}
.calendar-tb.next .today,
.calendar-tb.prev .today{background:#fff}
.calendar-tb .viewlog{padding:10px 0 0 0; color:#999; cursor:pointer}
.calendar-tb .viewlog:hover{text-decoration:underline}

.staff-list{overflow:hidden; border-top:2px solid #263c53}
.staff-list>li{border-bottom:1px solid #ccc}
.staff-list>li.staff-master{border-bottom:1px solid #999}
.staff-list a{display:block; text-decoration:none; transition:all .4s}
.staff-list a:hover{background:#f4f4f4}
.staff-list .rank{width:40px; text-align:center}
.staff-list .staff-block{display:inline-block; padding:14px 0 13px 0}
.staff-list .dept{width:120px; text-align:center}
.staff-list .name{padding:0 15px}

.ultable-title{position:relative; padding:0 0 0 50px; overflow:hidden; border-top:2px solid #0a4a86; border-bottom:1px solid #999;}
.ultable-title .field{float:left; text-align:center; padding:10px 0; font-weight:bold}
.ultable-title.annualleave .field1{width:50px; position:absolute; left:0; top:0}
.ultable-title.annualleave .field2{width:20%}
.ultable-title.annualleave .field3{width:15%}
.ultable-title.annualleave .field4{width:15%}
.ultable-title.annualleave .field5{width:30%}
.ultable-title.annualleave .field6{width:20%}
.ultable-list .annualleave{position:relative; border-bottom:1px solid #dfdfdf; *zoom:1}
.ultable-list .annualleave:after{display:block; clear:both; content:''}
.ultable-list .annualleave:hover{background:#f1f1f1}
.ultable-list .annualleave a{display:block; margin:0 0 0 50px; font-size:13px}
.ultable-list .annualleave a:hover .field{text-decoration:none}
.ultable-list .annualleave .field{float:left; text-align:center; padding:10px 0}
.ultable-list .annualleave .field1{width:50px; position:absolute; left:0; top:0}
.ultable-list .annualleave .field2{width:20%}
.ultable-list .annualleave .field3{width:15%}
.ultable-list .annualleave .field4{width:15%}
.ultable-list .annualleave .field5{width:30%}
.ultable-list .annualleave .field6{width:20%}
.ultable-title.user {padding:0 0 0 100px}
.ultable-title.user .field2{width:50px; position:absolute; left:50px; top:0}
.ultable-title.user .field3{width:20%}
.ultable-title.user .field4{width:20%}
.ultable-title.user .field5{width:20%}
.ultable-title.user .field6{width:20%}
.ultable-title.user .field7{width:20%}
.ultable-list .user a{margin:0 0 0 100px}
.ultable-list .user .field2{width:50px; position:absolute; left:50px; top:0}
.ultable-list .user .field3{width:20%}
.ultable-list .user .field4{width:20%}
.ultable-list .user .field5{width:20%}
.ultable-list .user .field6{width:20%}
.ultable-list .user .field7{width:20%}

.admin-form.home-form .input-box input{height:30px; line-height:31px}
.admin-form.home-form .inner-label{display:block; border-bottom:1px solid #ccc; padding:3px 0; text-align:center}

.ultable-list .new-annualleave{position:absolute; left:-12px; top:-10px}
.cancellation-sec{padding:50px 0 0 0}
.reject-table td,
.reject-table th{border:1px solid #aaa}
.reject-table th{background:#f4f4f4; color:#aaa}
.reject-table td{color:#aaa !important}
.annualleave-table{margin:0 0 20px 0; border-top:2px solid #0a4a86}
.annualleave-table td{padding:10px 2%; text-align:left; word-break:break-all}
.annualleave-table th strong{font-weight:bold; color:#000}
.annualleave-table td.alignC{text-align:center}
.reject-select{text-align:center; margin:0 0 20px 0}
.reject-reason-sec{display:none; margin:0 0 20px 0; border:1px solid #999; text-align:right}
.reject-reason-sec label{display:block; text-align:center; padding:10px 0; background:#eee; border-bottom:1px solid #999}
.reject-reason-sec textarea{width:99%; height:50px; border:0 none; resize:none; vertical-align:top}
@-webkit-keyframes nextCalendarAni {
    0%{left:20%}
    100%{left:0}
}
@keyframes nextCalendarAni {
    0%{left:20%}
    100%{left:0}
}
@-webkit-keyframes prevCalendarAni {
    0%{left:-20%}
    100%{left:0}
}
@keyframes prevCalendarAni {
    0%{left:-20%}
    100%{left:0}
}
.admin-register-frm{width:100%; height:100%; position:fixed; z-index:9999}
.admin-register-frm .register-frm{width:92%; max-width:1000px; height:90%; position:relative; z-index:2; top:5%; margin:0 auto; background:#fff}
.admin-register-frm .registerbg{width:100%; height:100%; position:fixed; left:0; top:0; background:#000; opacity:.6; z-index:1}
.admin-register-frm .BD-write-skinA{box-shadow:none; margin:0 0 20px 0}
.admin-register-frm .userid{width:100%; height:50px; line-height:50px; text-align:center; background:#000; color:#fff}
.acceptance-univ-tit{background:#f4f4f4; padding:14px; font-size:18px; border:1px solid #ccc; cursor:pointer}
.acceptance-univ-update-box{overflow:hidden; height:0px; margin:-1px 0 0 0}
.acceptance-univ-update-box .update-inner-box{border:1px solid #ccc; padding:20px}
.acceptance-univ-subject-list{padding:20px 0 0 1px; overflow:hidden}
.acceptance-univ-subject-list>li{width:20%; float:left;  margin:-1px 0 0 -1px;}
.acceptance-univ-subject-list .inner-box{border:1px solid #ccc;  padding:10px 10px 10px 40px; position:relative}
.acceptance-univ-subject-list .inner-box input[type="checkbox"]{position:absolute; left:10px; top:50%; width:16px; height:16px; margin-top:-7px}
.acceptance-univ-subject-list .inner-box input[type="text"]{width:100%; margin:0 0 4px 0}
@media only screen and (max-width: 1700px){
	table.total-result-table{width:1596px !important}
}
@media only screen and (min-width: 1240px) and (max-width: 1400px){
	.bbs_card_list .item-box{ width:calc(25% - 8px);}
}
@media only screen and (min-width: 960px) and (max-width: 1239px){
	.bbs_card_list .item-box{ width:calc(33.33% - 8px);}
	#marketing_year_results{overflow-x:auto}
	#marketing_year_results dl{width:1200px}
}
@media only screen and (min-width: 767px) and (max-width: 959px){
	.bbs_card_list .item-box{ width:calc(49.98% - 8px);}
}
@media only screen and (max-width: 767px){
	.bbs_card_list .item-box{ width:calc(100% - 8px);}
}
